<label for="input" class="label {{labelClass}}">{{inputLabel}}</label>
<input
  type="{{inputType}}"
  value="{{inputValue}}"
  id="{{inputId}}"
  class="{{inputClass}}"
  name="{{inputName}}"
  placeholder="{{inputPlaceholder}}"
/>
